#titulo {
    text-align: center;
}
body{
    background-color:#191970;
}
/* usa esse para colocar comentario no css*/
h1{
    color:white;
    text-align:right;
    font-size:30px;
}
.texto{
   color: whitesmoke;
    text-align: left;
}
em strong {
    color: grey;
}